.button {
  min-width: 170px;
  height: 38px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  color: $white;
  background-color: $purple;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background-color: darken($color: $purple, $amount: 5);
  }
}

@media #{$desktop} {
  .button {
    height: 32px;
    font-size: 12px;
  }
}
